.container_header{
    background-color: var(--white);
}
h1{
    font-weight: 900;
    letter-spacing: 5px;
    color: var(--white);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--black-background);
    padding: 10px;
}
.header {  
    background-color: var(--white);
    display:  flex;
    gap: 40px;
    align-items: center;
}
.image_header{
   
    display: block;

}
.text {
    
    
    width: 50%;
    padding: 100px;
    padding-left: 0;
    color: var(--black);
}
.text >h3 {
    font-size: 64px;
}
.text >p {
    margin-top: 20px;
    font-size: 24px;
}
.btn_header{ 
    font-size: 16px;
    margin-top: 20px;
    padding: 10px;
    width: 7rem;
    background-color: var(--red) ;
    color: var(--white);
    font-weight: 700;
    border: none;
    text-transform: uppercase;
    transition: all 0.5s ease-out;
}
.btn_header:hover{
    background-color: var(--black);
    color: var(--white);
}
