.filter_container{
    padding: 0.8rem;
    background-color: #585656;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}
label{
    font-weight: 700;
    margin-right: 0.5rem;
    color: #FFFFFF;
}
input {
   width: 15rem;
   height: 2rem;

}