.filter_container{
    padding: 0.8rem;
    background-color: var(--background-filter);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}
.label-rating{
    margin-bottom: 0.5rem;
    text-transform: uppercase;
}
