.filter_container{
    padding: 0.8rem;
    background-color: var(--background-filter);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 2rem;
}
